.country_preview div {
    width: 300px;
    text-align: center;
    border: 1px solid white;
    font-size: 20px;
}

.flag {
    width: 98%;
    height: 40%;
    margin-bottom: 10px;
}

.country_preview_box {
    width: 300px;
    padding-left: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 1250px) {
    .info_country_box {
        display: none;
    }
}
