.header_text {
  width: 40%;
  font-size: 35px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searcher input {
  border-radius: 15px;
  width: 30%;
  height: 35px;
  text-decoration: dotted;
  font-size: 15px;
}
.searcher {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
@media (max-width: 800px) {
  .pagination_box {
    justify-content: start;
  }
  .searcher {
    margin-bottom: 15px;
  }
  .searcher input {
    width: 50%;
  }
  .header_container {
    flex-direction: column;
  }
  .header_text {
    width: 50%;
    font-size: 30px;
  }
}
